.BoxForm {
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    background-color: #FBFCFC;
    border-color: black;
    border-width: 2px;
    margin-bottom: 40%;
}

.Middle {
    text-align: center;
}

.MarginingPostForm {
    padding-top: 10px;
}